PORT=5000
NODE_ENV=development
TRUST_PROXY=false

# db - postgres
DATABASE_URL="postgresql://user:password@localhost:5432/nextunelk?schema=public"

# authentication - Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

# admin setup (seed)
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=

# xui panel
XUI_URL=
XUI_USERNAME=
XUI_PASSWORD=
SESSION_DURATION=24